.container-fluid {
  padding-top: 50px;
  padding-left:50px;
  padding-right: 50px;
  padding-bottom: 20px;

}

.warenkorb {

}

.wk {
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  height: 85px;
  width: 250px;
}

.produktbild{
  float: left;
}

.beschreibung {
  height: 85px;
  width: 500px;
  padding-left: 10px;
  margin-left: 10px;
  float: left;
}

.preis {
  text-align: center;
  height: 85px;
  width: 85px;
  float: right;
  padding: 5px;
}

.einzelpreis {
  text-align: center;
  height: 85px;
  width: 85px;
  margin-left: 20px;
  float: left;
  padding: 5px;
}

.remove {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-top: 18px;
  float: left;
}

.menge {
  height: 85px;
  width: 70px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  float: left;
}

.mengeinput {
  text-align: center;
  margin-top: 15px;
  width: 60px;
}

.zusammenfassung {
  text-align: center;
  padding: 10px;
  height: 200px;
  width: 200px;
  margin-right: 70px;
  margin-bottom: 100px;
}

.kaufen {
  height: 85px;
  width: 180px;
  margin-right: 20px;
  margin-top: 10px;
}
