#abstand_newsletter{
    margin-top:30px;
}

#abstand_shopnow{
    margin-top:15px;
}

#abstand_contact{
    margin-top: 10px;
}

#warenkorb_anzeige_button a{
    color: white !important;
}

#warenkorb_anzeige_button{
    margin-top:15px;
    margin-bottom:15px;
}

#shopnow_button{
    color:white;
}

